#!/bin/bash

# directory listing
alias ls="command ls -lG"

# directory traversal
alias ..="cd ../"

# coffee-script (http://coffeescript.org)
alias coffeewatch="coffee -o ./ -cw ./"

# Python Server (https://docs.python.org/2/library/simplehttpserver.html)
alias pyserver="python -m SimpleHTTPServer"

# sass (http://sass-lang.com/)
alias sasswatch="sass --sourcemap=none --style expanded --watch ./:./"
