# sass (http://sass-lang.com/)
alias sasswatch="sass --sourcemap=none --watch ./:./"

# Python Server (https://docs.python.org/2/library/simplehttpserver.html)
alias pyserver="python -m SimpleHTTPServer"
