#!/bin/bash

# Make alias only when source exists
makealias() {

    if [ -a "$2" ]; then
        alias "$1"="$2"
    fi

}

# Node.js Project Builder (https://github.com/neogeek/nodejs-starter-kit)
nodejs-project-builder() {

    curl -L https://github.com/neogeek/nodejs-starter-kit/archive/master.tar.gz | tar -xz
    mv nodejs-starter-kit-master "$1"
    cd "$1"
    npm install

}

# Random Hash
rhash() {

    HASH="$(echo -n "$(date)""${RANDOM}" | shasum -a 256)"
    HASH="${HASH:0:${#HASH}-3}"
    echo "${HASH}"
    echo -n "${HASH}" | pbcopy

}
