#!/bin/bash

# Node.js Project Builder (https://github.com/neogeek/nodejs-starter-kit)
nodejs-project-builder() {

    curl -L https://github.com/neogeek/nodejs-starter-kit/archive/master.tar.gz | tar -xz
    mkdir -p "${1}"
    mv nodejs-starter-kit-master/{*,.[^.]*} "${1}"
    rm -d nodejs-starter-kit-master
    cd "${1}" || exit
    npm install

}

# Random Hash
rhash() {

    HASH="$(echo -n "$(date)""${RANDOM}" | shasum -a 256)"
    HASH="${HASH:0:${#HASH}-3}"
    echo "${HASH}"
    echo -n "${HASH}" | pbcopy

}

# Setup Unity Project with .gitignore
setupunity() {

    git init
    curl -o .gitignore https://raw.githubusercontent.com/github/gitignore/master/Unity.gitignore
    git add .
    git commit -m "Initial commit."

}
