#!/bin/bash

# Runs jshint on all .js files in the current folder.
hint() {

    if jshint -v &> /dev/null; then

        find . -type f -name '*.js' ! \( -path "*node_modules/*" -or -path "*bower_components/*" \) -exec jshint {} \;

    else

        echo "jshint not found!"

    fi

}

# Runs jslint on all .js files in the current folder.
lint() {

    if jslint --version &> /dev/null; then

        find . -type f -name '*.js' ! \( -path "*node_modules/*" -or -path "*bower_components/*" \) -exec jslint {} \;

    else

        echo "jslint not found!"

    fi

}

# Node.js Project Builder (https://github.com/neogeek/nodejs-starter-kit)
nodejs-project-builder() {

    curl -L https://github.com/neogeek/nodejs-starter-kit/archive/master.tar.gz | tar -xz
    mv nodejs-starter-kit-master "$1"
    cd "$1" || exit
    npm install

}

# Random Hash
rhash() {

    HASH="$(echo -n "$(date)""${RANDOM}" | shasum -a 256)"
    HASH="${HASH:0:${#HASH}-3}"
    echo "${HASH}"
    echo -n "${HASH}" | pbcopy

}
